Possible to generate a JWT MAC using a key that is two weak for the algorithm used

### Problem

A MAC can be generated for a JWT using a secret key whose length (in bits) is smaller than the output size (in bits) of the internal hash e.g. a key of < 512bits when using the HS512 algorithm. This seems in contradiction to 'best practice' (see RFC2014 section 2, and NIST SP 800-117)  and the strict requirements of the JSON Web Algorithms (JWA) specification (RFC7518). 

> A key of the same size as the hash output (for instance, 256 bits for
   "HS256") or larger MUST be used with this algorithm


### Desirable outcome

The HMACAlgorithm class would verify the key size against the request algorithm. Or it is picked up in a validation step before signing. 

### Affects versions

At least v3.3.0 and v3.10.3 - but possibly all.

So this would only impact HS (256, 384, 512). I'm wondering if we should treat this as a breaking change or not, since the `JWA` spec _does_ mention it as a requirement (e.g. "MUST"). Let me raise it internally first cc @jimmyjames. 

@philsmart Are you willing to send a PR if we decide to go forward with the change?

Certainly. 

@philsmart To close the loop. I've checked with the team and they agree this length/size enforcement would be a breaking change so we are not going to accept it on this version. They also said that the HMAC will internally right-pad the missing bits in the secret with zeros, so it can perform the HMAC operation.
That said, we would accept a note in the readme [where we introduce the algorithms](https://github.com/auth0/java-jwt#using-static-secrets-or-keys) to mention the secret length recommendation. Is that something you'd like to send for us to review?

Many thanks for discussing this so quickly. I can certainly add a note in the README (next week probably).

Just to clarify, is this check something you would be looking to add to a version after this one?

Also, I get (although I am no mathematician) the Hashing algorithm will pad the key to allow execution of the function, but I would assume that does not add to the key's strength/entropy in such a way as to mitigate the original issue? or are you saying it does?

> Just to clarify, is this check something you would be looking to add to a version after this one?

No, I don't think so. The reason being that this requirement could prevent this library from being used with providers that use secrets that don't respect this specific length requirement. There's no need to be restrictive about it. Anyone should use secrets of the length they want. 

I rather we recommend this in the readme for added security but leave the final choice to the developers.

About the entropy, you are correct. There's no added entropy when padding is used. The only way to mitigate this issue would be using a secret that is as long in bits as the algorithm says. 👍 

OK, thanks. I will look to add a PR with the info to the README this week. 

I am not sure I totally understand the position that 'Anyone should use secrets of the length they want'. Given that they could produce a JWT that is not compliant with the specifications from a security perspective. But I also understand the pragmatic side of not making this breaking change. 


Opened a PR with the changes.

I'll close this ticket. The PR exists if you wanted to add it or something similar to the README.

@philsmart Apologies for not following up here. The PR is on my list to review.

Sounds good, thanks!