Support `crit` header

### Describe the problem you'd like to have solved
This library does not verify the `crit` header, as defined by [RFC 7515 §4.1.11](https://tools.ietf.org/html/rfc7515#section-4.1.11):
> The "crit" (critical) Header Parameter indicates that extensions to this specification and/or [JWA] are being used that MUST be understood and processed.
> [...]
> When used, this Header Parameter MUST be integrity protected; therefore, it MUST occur only within the JWS Protected Header.  Use of this Header Parameter is OPTIONAL.  This Header Parameter MUST be understood and processed by implementations.

### Describe the ideal solution
I am not sure what the best approach here would be. Ideally verification of the `crit` header would be enabled by default, so any custom header specified in `crit` would be rejected. However, that might be a breaking change, especially if many users already rolled their own `crit` verification.

Maybe for the next major release the following changes could be done:
Add `Verification.withUnderstoodHeaders(Set<String>)`  
By default no custom headers are understood and a `crit` header (as described by the RFC) requiring support for any of them will cause a verification exception. Only when the user sets which custom headers are understood, and all of the headers in `crit` are part of those understood headers, no exception is thrown.

Alternatively the method could accept a `Predicate` (e.g. `withUnderstoodHeadersPredicate(Predicate<String>)`) to be more flexible. However that might result in misuse where the predicate accept all headers, effectively defeating the security purpose of the `crit` header.

## Alternatives and current work-arounds
Maybe `crit` verification is not as important to risk breaking backward compatibility. It would be necessary to find out how many applications actually use it, and how many are rolling their own verification code.
The result of this might be that `crit` verification imposed by this library is not needed.

### Additional information, if any
connect2id's nimbus-jose-jwt implements this using [`CriticalHeaderParamsAware`](https://bitbucket.org/connect2id/nimbus-jose-jwt/src/master/src/main/java/com/nimbusds/jose/CriticalHeaderParamsAware.java) and [`CriticalHeaderParamsDeferral`](https://bitbucket.org/connect2id/nimbus-jose-jwt/src/master/src/main/java/com/nimbusds/jose/crypto/impl/CriticalHeaderParamsDeferral.java) which appear to allow the user to specify which custom headers are understood.


You're correct. The library doesn't support verifying the `crit` header in any way. Let me bring this up internally and discuss it with the team. 

Meanwhile, you should be able to perform the validation yourself by using the [getHeaderClaim(header-name)](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/interfaces/Header.java#L42) method from the `DecodedJWT` instance that you get after decoding/verifying a token. Let us know if that works for you, and I'll come back with a response from the team when I get it. Thanks!

To be honest, I am not actually using your library (or another library) at the moment for any of my projects, but stumbled across it and thought that such an addition might be useful.
So don't treat this with high priority and feel free to close the issue or put it on ice until more users voice this feature request.

We discussed this with the team. Adding support for verifying the `crit` header is not in our near future plans. We also consider that this could be done today outside of the library with the features that the library already provides. 

In short, it would look like this:
1. [Decode the JWT](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWT.java#L44) to get access to the header and payload claims. The library would give you back an instance of `DecodedJWT`.
2. [Grab the "crit" header claim](https://github.com/auth0/java-jwt/blob/7d1035cf79a21d1fc3c068b527bd230f07ac8ca4/lib/src/main/java/com/auth0/jwt/interfaces/Header.java#L43) and verify its value with your own logic.
3. If the validation turned out OK, proceed with the JWT validation (signature + known claims).
4. Do this by passing the `DecodedJWT` instance to the [JWTVerifier#verify](https://github.com/auth0/java-jwt/blob/master/lib/src/main/java/com/auth0/jwt/JWTVerifier.java#L297) method.

Hope that helps! I'll close this now.